<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <settings>
      
      <setting name="Sitecore.Feature.ProfileScaffolder.ProfileKey.TemplateId" value="{44AB5107-3C73-42F0-A427-BEC549F944B9}" />
      <setting name="Sitecore.Feature.ProfileScaffolder.ProfileCard.TemplateId" value="{0FC09EA4-8D87-4B0E-A5C9-8076AE863D9C}" />
      <setting name="Sitecore.Feature.ProfileScaffolder.PatternCard.TemplateId" value="{4A6A7E36-2481-438F-A9BA-0453ECC638FA}" />
      
      <setting name="Sitecore.Feature.ProfileScaffolder.ProfileKey.FieldNames.MinValue" value="MinValue" />
      <setting name="Sitecore.Feature.ProfileScaffolder.ProfileKey.FieldNames.MaxValue" value="MaxValue" />
      
      <setting name="Sitecore.Feature.ProfileScaffolder.ProfileKey.DefaultMinValue" value="0" />
      <setting name="Sitecore.Feature.ProfileScaffolder.ProfileKey.DefaultMaxValue" value="10" />

      <setting name="Sitecore.Feature.ProfileScaffolder.ProfileCard.FolderName" value="Profile Cards" />
      <setting name="Sitecore.Feature.ProfileScaffolder.ProfileCard.FieldNames.RadarGraph" value="Profile Card Value" />

      <setting name="Sitecore.Feature.ProfileScaffolder.PatternCard.FolderName" value="Pattern Cards" />
      <setting name="Sitecore.Feature.ProfileScaffolder.PatternCard.FieldNames.RadarGraph" value="Pattern" />
      
    </settings>
    <commands>
      <command name="feature:profilescaffolder:scaffoldprofilekey" type="Sitecore.Feature.ProfileScaffolder.Shell.Framework.Commands.ScaffoldProfileKey, Sitecore.Feature.ProfileScaffolder" />
    </commands>
    <processors>
      <uiScaffoldProfileKey>
        <processor mode="on" type="Sitecore.Feature.ProfileScaffolder.Shell.Framework.Pipelines.ScaffoldProfileKey, Sitecore.Feature.ProfileScaffolder" method="GetProfileKeyName" />
        <processor mode="on" type="Sitecore.Feature.ProfileScaffolder.Shell.Framework.Pipelines.ScaffoldProfileKey, Sitecore.Feature.ProfileScaffolder" method="ExecuteScaffolding" />
      </uiScaffoldProfileKey>
    </processors>
  </sitecore>
</configuration>